<!-- Clients -->
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <a href="#">
          <%= image_tag('home/logos/envato.jpg', class: 'img-fluid d-block mx-auto', alt: '') %>
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="#">
          <%= image_tag('home/logos/designmodo.jpg', class: 'img-fluid d-block mx-auto', alt: '') %>
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="#">
          <%= image_tag('home/logos/themeforest.jpg', class: 'img-fluid d-block mx-auto', alt: '') %>
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="#">
          <%= image_tag('home/logos/creative-market.jpg', class: 'img-fluid d-block mx-auto', alt: '') %>
        </a>
      </div>
    </div>
  </div>
</section>
