<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Images graciously provided by <%= link_to 'Pixabay', 'https://pixabay.com/' %></span>
      </div>
      <div class="col-md-4">
        <%= render 'social_list' %>
      </div>
      <div class="col-md-4">
        <!-- <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <a href="#">Privacy Policy</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Terms of Use</a>
          </li>
        </ul> -->
      </div>
    </div>
  </div>
</footer>
