<!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Hey!</div>
          <h1 class="intro-heading">I'm Michael</h1>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Welcome!</a>
        </div>
      </div>
    </header>
