<!-- Services -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">I'm a web dev!</h2>
        <h3 class="section-subheading text-muted">Here's what I do</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-gem fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Web Development</h4>
        <p class="text-muted">I'm a Ruby on Rails developer at Info-Tech Research Group on our web application development team</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-unlock fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">ScrumMaster</h4>
        <p class="text-muted">I'm a Certified ScrumMaster with experience in agile development practices and the scrum methodology.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-users fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Mentor</h4>
        <p class="text-muted">I regularly assist new devs with onboarding, programming skills, and understanding the frameworks used within our organization.</p>
      </div>
    </div>
  </div>
</section>
