<ul class="list-inline social-buttons">
  <li class="list-inline-item">
    <%= link_to 'https://github.com/michaelbrawn', target: :_blank do %>
      <i class="fa fa-github"></i>
    <% end %>
  </li>
  <li class="list-inline-item">
    <%= link_to 'https://twitter.com/michaelbrawn', target: :_blank do %>
      <i class="fa fa-twitter"></i>
    <% end %>
  </li>
  <li class="list-inline-item">
    <%= link_to 'https://www.linkedin.com/in/michaelbrawn/', target: :_blank do %>
      <i class="fa fa-linkedin"></i>
    <% end %>
  </li>
</ul>
